
.wrapper {
  width: 100%;
  // height: var(--share-h);
  border-radius: 10px;
  padding: 20px;
  // -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  font-size: 1.6rem;

  margin-bottom: 20px;
}
.status {
  display: flex;
  align-items: center;

  .accountImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .statusText {
    border: none;
    width: 80%;

    &:focus {
      outline: none;
    }
  }
}

.hr {
  margin: 12px 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .options {
    display: flex;
    margin-left: 20px;

    span {
      font-size: 1.4rem;
      font-weight: 500;
    }

    .option {
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      .icon {
        font-size: 18px;
        margin-right: 3px;
      }
    }
  }
  .shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }
}
.shareImgContainer {
  padding: 0 20px 10px 20px;
  position: relative;

  .shareImg {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }

  .shareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
  }
}
